# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
staticfiles/
*.sqlite3
*.sqlite3-journal
